<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Step2_Login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>finalTest.finalTestLogin</servlet-class>
  	</servlet>
  	<servlet-mapping>
    <servlet-name>Login</servlet-name>
    	<url-pattern>/finalTestLogin</url-pattern>
  	</servlet-mapping>

	<servlet>
    	<servlet-name>MainGop</servlet-name>
    	<servlet-class>finalTest.GetMain</servlet-class>
  	</servlet>
  	<servlet-mapping>
    <servlet-name>MainGop</servlet-name>
    	<url-pattern>/GetMain</url-pattern>
  	</servlet-mapping>
</web-app>